*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background-color: #dbdbdb;
    height: 100%;
}
h1{
    font-size: 1.7rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}
/* NAVBAR */
nav {
    transition: background-color 0.3s ease;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: end;
}
nav>ul:not(#nav-links){
    display: none;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content:end;
    align-items: center;
    color: white;
    gap: 2rem;
    width: 90%;
    height: 100%;
}
nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav > ul > li > a:hover{
    color: rgb(255, 228, 118);
    transition:color 0.5s ease;
}   

.transition-navbar {
    transition: background-color 0.3s linear;
}
/* END NAVBAR*/

/* HEADER */
.header-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    min-height: 300px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.594);
    color: #f2f2f2;
}
.header-img{
    background-image: url(../photos/bg-1.jpeg);
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#image-perso{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* HEADER END*/

/* CONTENT */
.content>h2{
    text-align: center;
    margin: 2.5rem;
}
.content-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 80%;
    margin: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
}
.content div>#social-media{
    position: relative;
    margin-top: -50px;
    z-index: 100000;
}
.content div>#social-media>ul>li>a{
    background-color:rgb(51, 49, 40);
    padding: 0.4em 0.5em;
    border-radius: 50%;
    font-size:2rem;
}
.content div>#social-media>ul>li>a:hover {
    color:rgb(255, 228, 118);
    background-color: rgb(91, 91, 91);
    box-shadow: 0 5px 10px 0 rgba(12, 12, 12, 0.5);
    transition: all 0.3s ease;
}
/* ABOUT */
#about {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align:justify;
    padding: 1rem;
    flex: 0 0 50%;
}

.about-content > h2{
    text-align: center;
    margin-bottom: 2rem;
}
.basic-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}
.basic-info :first-child{
    flex:0 0 30%;
}
.basic-info :last-child{
    flex:0 0 60%;
}
.basic-info>p>a{
    text-decoration: none;
    color: rgb(17, 17, 152);
}
.basic-info>p>a:hover{
    color: rgb(255, 50, 50);
}
#about-text > h2{
    text-align: center !important; 
}
/* END ABOUT */

/* CARD */
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px ;
}
.card>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.card > div:first-child{
    background-color: rgb(39, 37, 37);
    color: white;
    flex: 0 0 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
.card>div:first-child>p{
    font-style: italic;
    color: rgb(181, 181, 181);
}
.card>div:last-child {
    background-color: rgb(198, 198, 198);
    color: rgb(0, 0, 0);
    flex: 0 0 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.card>div:last-child>p {
    margin: 0.5em;
    font-style: italic;
    color: rgb(78, 75, 75);
}
/* END CARD */

/* CERTIFICATS */
.certificates{
    display: flex;
    flex-wrap: wrap;;
    flex-direction: row;
    justify-content: space-between;
}
.certificate{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 30%;
    padding: 2em;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(39, 37, 37);
    gap: 1.5rem;
    min-width: 300px;
}
.certificate>a>img{
max-width: 100%;
}

.certificate>a>img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(248, 255, 50, 0.5);
}
/* END CERTIFICATS */

/* FOOTER */
footer{
    background-color: rgb(39, 37, 37);
    color: white;
    padding: 2rem 0;
    margin-top: 10rem;
    text-align: center;
}
#social-media>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    margin: 2rem 0;
    color: white;

}
#social-media>ul>li{
    color: white;
    text-decoration: none;
}
#social-media>ul>li>a{
    color: white;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 0.5em 0.7em;
}
/* END FOOTER */

/* ICONS */
.twitter:hover{
    background-color: black !important;
    color: white !important;
        box-shadow: 0 0px 5px 0 rgba(255, 255, 255, 0.5);
}
.linkdIn:hover{
    background-color: rgb(0, 119, 181) !important;
    color: white !important;
    box-shadow: 0 0px 5px 0 rgba(255, 255, 255, 0.5);}
    
.gitHub:hover{
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
    box-shadow: 0 0px 5px 0  rgba(255, 255, 255, 0.5);}

/* END ICONS */


/* END CONTENT */


/* MEDIA QUERIES */
@media (max-width: 850px){
    .nav-links-show {
        display: flex !important;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        height:fit-content;
        width: 100%;
        right: 0;
        padding: 0.5rem 2rem; 
        background-color: rgba(26, 26, 26,0.9);
        position: absolute;
        margin-top:1em ;
        transition: all 0.5s ease-in-out;
    }

    nav>ul{
        align-items: end;
        gap: 1rem;
    }
    nav>ul:not(#nav-links) {
        display: flex;
        font-size: 1.6rem;
        padding: 0;
    }
    nav>ul:is(#nav-links) {
        display: none;
    }
    .about-content{
        flex: 0 0 100%;
    
    }
    .card{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .card>div:first-child {
        flex: 0 0 100%;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        padding: 2rem 0;
    }

    .certificates{
        justify-content: center;
    }
    .card>div:last-child {
        border-radius:0 ;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        flex: 0 0 100%;
        height: auto;
        padding: 2rem 0;
        width: 100%;
    }
    .certificate{
        flex: 0 0 100%;
        min-width: 100%;
    }
}